{% extends "base.html" %}


{% block content %}

<div class="auth-box">

    <div class="card">

        <h1>
            {{ t.register }}
        </h1>


        <form method="post">

            {% csrf_token %}


            {{ form.non_field_errors }}


            <label>
                {{ t.email }}
            </label>

            {{ form.email }}

            {{ form.email.errors }}


            <label>
                {{ t.password }}
            </label>

            {{ form.password1 }}

            {{ form.password1.errors }}


            <label>
                {{ t.password_confirm }}
            </label>

            {{ form.password2 }}

            {{ form.password2.errors }}


            <button type="submit">
                {{ t.register }}
            </button>

        </form>


        <p>
            {{ t.have_account }}

            <a href="{% url 'login' %}">
                {{ t.login }}
            </a>
        </p>

    </div>

</div>

{% endblock %}